<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>Cycly</title>
  <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>

<body>

<section class="header">
<h1>Cycly</h1>
<h2>Should I go out for a ride?</h2>
<p>For prototype purposes only. The location is by default set to <span>Amsterdam</span>.
When the system has acces to a GPS sensor it could use the coordinates tracked by this sensor.</p>
</section>

<section class="values">
  <div class="value">
    <p>Local Temperature:</p>
    <p id="temperature" >
      -
    </p>
  </div>
  <div class="value">
    <p>Local Humidity:</p>
    <p id="hummidity" >
      -
    </p>
  </div>
<div class="value">
  <p>Temperature API:</p>
  <p id="temperatureAPI" >
    -
  </p>
</div>
<div class="value">
  <p>Humidity API:</p>
  <p id="rain" >
    -
  </p>
</div>
</section>

<button id="btnStart">Start</button>

<script type="text/javascript" src="js/js.js"></script>
</body>
</html>
