<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>Websocket</title>
  <link rel="stylesheet" type="text/css" href="css/master.css" />


</head>

<body>

<section class="header">
<h1>Cycly</h1>
<h2>Should I go out for a ride?</h2>
<p>For prototype purposes only. The location is by default set to <span>Amsterdam</span>.
When the system has acces to a GPS sensor it could use the coordinates tracked by this sensor.</p>
<button type="button" name="button"> Ask for values </button>
</section>
<h2>Values</h2>


<table>
  <tr>
    <th>Temperature</th>
    <th>Rain</th>
    <th>Advice</th>
  </tr>
  <tr>
    <td>Green</td>
    <td>Green</td>
    <td>Green</td>
  </tr>
</table>

<input style="width: 800px;height: 200px" type="text" placeholder="enter text here to send to server" id="eingabe" onkeypress="myFunction(event)"/>

<button onclick="clearlog()">Clear Logs</button>

<div style="overflow:scroll; width: 800px; height: 550px; border: solid; border-radius: 9px" id="display">

</div>


<script type="text/javascript" src="js/js.js"></script>
</body>
</html>
